body {
    font-family: "Roboto", "Roboto Condensed", Helvetica, sans-serif;
}

.header{
    padding: 50px 0;
}

.logo-type {
    font-family: "Roboto";
    font-size:  30px;
    color: #2b3f4c;
    font-weight: 700;
    line-height: 60px;
}

.logo-type span {
    font-family: "Roboto";
    font-weight: 400;
    font-size:  30px;
    color: #2b3f4c;
}

.logo {
    width: 60px;
    height: 60px;
    background: url(../images/icon_sprite.png) 0 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    float: left;
    margin: 0 15px;
}


.intro {
    background-image: url(../images/intro_bg.jpg);
    background-color: #e77e04;
    background-size: cover;
}

.intro_row {
    position: relative;
    padding: 100px 0;
}

.intro_phone {
    background: url(../images/intro_phone.png) no-repeat center top;
    bottom: 0;
    content: '';
	display:block;
    position: absolute;
    width: 325px;
    height: 550px;
    right: -10px;
    
    transition: transform 0.5s ease;
    
}


.intro_phone:hover {
    transform: scale(1.05);
}
.intro h1 {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    font-size: 70px;
    margin: 0;
}

.intro p {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 100;
    color: white;
    font-size: 20px;
    line-height: 30px;
}

.download-button {
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#e77e04;
	font-family: "Roboto", Helvetica, sans-serif;
	font-size:20px;
	padding:22px 28px;
	text-decoration:none;
    margin: 10px 0;
    transition: opacity 0.3s ease, padding 1s ease;
}

.download-button:hover {
	background-color:#f6f6f6;
    opacity: 1;
}

.download-button:active {
	position:relative;
	top:1px;
}

.features {
    padding: 150px 0;
}

.feature_item {
    text-align: center;
}

.feature_item h2:before {
    background: url(../images/icon_sprite.png);
    content: '';
    display: block;
    text-align: center;

}

.feature_tag h2:before {
    background-position: 0px -120px;
    height: 65px;
    width: 65px;
    margin: 0 auto 35px;
}

.feature_cloud h2:before {
    background-position: -80px -120px;
    height: 65px;
    width: 72px;
    margin: 0 auto 35px;
}

.feature_map h2:before {
    background-position: -160px -120px;
    height: 65px;
    width: 50px;
    margin: 0 auto 35px;
}

.features h2 {
    font-family: "Roboto Condensed", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 26px;
    color: #e77e04;
    text-transform: uppercase;
}

.thumbnail img{
    width: 100%;
    margin-bottom: 20px;
}

.appstore-button {
    background: url(../images/icon_sprite.png) no-repeat;
    background-color: black;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	display:inline-block;
    padding:20px 28px;
	text-decoration:none;
    margin: 10px 0;
    overflow: hidden;
    text-indent: 200%;
    white-space: nowrap;
    box-shadow: 0 0 0 0 #000;
    transition: box-shadow 0.2s ease;
    
}
.appstore-button:hover {
    box-shadow: 0 0 0 5px #000;
}

.photo-1 {
    background-image: url(../images/photos/thumb_01.jpg);
}

.appstore-apple {
    background-position: center -200px;
    margin: 20px 10px;
}

.appstore-google {
    background-position: center -260px;
    margin: 20px 10px;
}

.appstore-amazon {
    background-position: center -320px;
    margin: 20px 10px;
}

.features p {
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #777;
    margin: 35px;
}

.gallery {
    background-color: #eee;
    background-size: cover;
    padding: 120px 0;
}

.gallery h2 {   
    font-family: "Roboto condensed", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 36px;
    color: #2b3f4c;
}

.gallery p {
    font-family: "Roboto", Helvetica, sans-serif;
    line-height: 25px;
    font-weight: 400;
    font-size: 16px;
    color: #777;
}

.fs-carousel-enabled a {
    margin: 0 10px 0 0;
}

.fs-carousel-enabled img {
    width: 100%;
}

.app-download {
    padding: 120px 0;
    text-align: center;
}

.app-download h2 {
    font-family: "Roboto condensed", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 42px;
    color: #e77e04;
    text-align: center;
    margin: 10px 0;

}

.app-download p {
    font-family: "Roboto", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #777;
    text-align: center;
    margin: 5px 0 20px;
}

.footer {
    border-top: 2px;
    border-style: solid;
    border-color: darkgray;
    padding: 50px 0;
}

.social {
    text-align: right;
}

.footer-links a {
    padding: 0;
    text-decoration: none;
    color: #2b3f4c;
}

.footer-links span {
    color: #777;
}

.support {
    margin: 0 5px;
}

.privacy {
    margin: 0 35px;
}

.copyright {
    
}

.facebook {
    height: 40px;
    width: 40px;
    background: url(../images/icon_sprite.png) -80px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    display: inline-block;
    margin: 0 5px;
}

.twitter {
    height: 40px;
    width: 40px;
    background: url(../images/icon_sprite.png) -120px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    display: inline-block;
    margin: 0 5px;
}

.googleplus {
    height: 40px;
    width: 40px;
    background: url(../images/icon_sprite.png) -160px 0;
    background-repeat: no-repeat;
    overflow: hidden;
    text-indent: 100%;
    display: inline-block;
    margin: 0 5px;
}