
html,
body {
    color:darkslategrey;
    font-size: 20px;
}


h1 {
    font-family: 'Open Sans', Helvetica, sans-serif;
    color:darkslategrey;
    font-size: 60px;
    font-weight: 800;
    margin: 50px 0;
}

.intro {
    font-size: 30px;
}